body{

	margin: 0px;
}
#container{
margin: 0px auto;
width: 80%;
height: 100%;

}
#toppings{
float:left;
min-width: 25%;
height: 100%;

}

#pizza{
float: left;
width: 50%;
height: 100%;

background-color: green;

}
#order{
display: inline-block;
 min-width: 25%;
 height: 100%;
float:left;
background-color: red;
position:relative
}

#popup{
	display: none;

}

#pica{
	width: 100%;
  display: table;
    margin: 0 auto;

}
#orderButton{

position:absolute;
 bottom:0;
margin-bottom: 7%;
margin-left: 10%;
margin-right:10%;
width: 80%;
}
#dialog{
  display: none;
}
#noLogin{

width: 49%;
height: 100%;
border-right: 1px solid;

float:left;
}
#login{
float:left;
width: 49%;
height: 100%;
}

#noLoginContainer{

	padding: 5%;
}
#loginContainer{

	padding: 8%;
}
.product{
height: 30%;



}
