body{

	margin: 0px;
background-color: #333333;
}
#container{
margin: 0px auto;
width: 80%;
height: 100%;

}
#toppings{
float:left;
width: 25%;
height: 100%;

background-image: url("images/background1.jpg");

}

#pizza{
float: left;
width: 50%;
height: 100%;
background-image: url("images/cardboard.jpg");

}
#order{
display: inline-block;
width: 25%;
 height: 100%;
float:left;
background-image: url("images/background1.jpg");

position:relative;

}

#popup{
	display: none;

}

#pica{
	width: 100%;
  display: table;
    margin: 0 auto;

}
#orderButton{

position:absolute;
 bottom:0;
margin-bottom: 7%;
margin-left: 10%;
margin-right:10%;
width: 80%;
}
#dialog{
  display: none;
}
#noLogin{

width: 49%;
height: 100%;
border-right: 1px solid;

float:left;
}
#login{
float:left;
width: 49%;
height: 100%;
}

#noLoginContainer{

	padding: 5%;
}
#loginContainer{

	padding: 8%;
}
.product{
	padding: 5%;
height: 13%;

}
#toppingContainer{
max-width: 30%;
	padding-top: 20px;
	display:inline;
}
#orderContainer{

padding-left: 5%;

}